:root{
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-500: hsl(0, 0%, 42%);
    --clr-grey-950: hsl(0, 0%, 7%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-yellow);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    font-family: "Figtree", sans-serif;
}

.card-container{
    max-width: 360px;
    background-color: var(--clr-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-top: 1px solid var(--clr-grey-950);
    border-left: 1px solid var(--clr-grey-950);
    box-shadow: 10px 10px black;
}

.main-image{
    display: block;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.coloured-text{
    height: 30px;
    width: 100px;
    background-color: var(--clr-yellow);
    color: var(--clr-grey-950);
    font-weight: 800;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.date{
    font-weight: bold;
    color: var(--clr-grey-950);
}

h1{
    margin: 20px 0;
    font-size: calc(1rem + 8px);
    font-weight: 800;
    transition: all 0.5s ease-in-out 0.5ms;
    cursor: pointer;
    &:active{
        color: var(--clr-yellow);
    }
}

.main-text{
    font-weight: 500;
    color: var(--clr-gray-500);
    margin-bottom: 20px;
    line-height: 1.5;
}

.author-credit{
    display: flex;
    gap: 0 15px;
    align-items: center;
}

.author-image{
    width: 35px;
}

.author-name{
    font-weight: 800;
    font-size: 0.9rem;
}



.attribution {
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}